/*.ipynb
/*.csv
/Dockerfile
/.vscode/
/__pycache__/
/*.py
/scripts/*.sql
/temp/
__pycache__/
/ToDo.txt
/test/
/scripts/config.ini
/scripts/test.py
/scripts/.ipynb_checkpoints/
/crontab.txt
/data/
/scripts/sql/tables.sql
/scripts/old_scripts/
/scripts/migration_to_db/
scripts/sql/dvdrental/*.sql